* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

/* DEMO ONLY STYLES */
.card-container {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}

.card {
  height: 300px;
  width: 100%;
  max-width: 300px;
  margin: 0;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: block;
  width: 200px;
  margin: 50px auto;
}

button {
  display: block;
  cursor: pointer;
  width: 200px;
  background: linear-gradient(
    90deg,
    hsla(192, 100%, 31%, 1) 0%,
    hsla(192, 72%, 56%, 1) 100%
  );
  border-radius: 6px;
  border: none;
  padding: 20px;
  font-size: 18px;
  color: white;
}

button span::before {
  content: "👍";
  display: inline-block;
  margin-right: 5px;
}
/* END DEMO ONLY STYLES */

.effect-container {
  position: relative;
  overflow: hidden;

  --effect-name: ripple;
  --effect-duration: 500ms;
  --effect-top: 0;
  --effect-left: 0;
  --effect-height: 100px;
  --effect-width: 100px;
  --effect-color: "fff";
}

.effect-container::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  top: var(--effect-top);
  left: var(--effect-left);
  height: var(--effect-height);
  width: var(--effect-width);
  background: var(--effect-color);
}

.effect-container.ripple.active::before {
  border-radius: 50%;
  animation: ripple var(--effect-duration) linear forwards;
}

@keyframes ripple {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(6);
    opacity: 0;
  }
}

.effect-container.square-rotate.active::before {
  animation: square-rotate var(--effect-duration) linear forwards;
}

@keyframes square-rotate {
  from {
    transform: scale(0) rotate(0);
  }

  to {
    transform: scale(6) rotate(180deg);
    opacity: 0;
  }
}
